<div class="container-fluid">
  <div class="row border-bottom mb-4">
    <div class="col-md-2 col-6"><h4>Editing Tag</h4></div>
    <div class="col-md-2 col-6 offset-md-8 text-right"><%= link_to "All Tags", tags_path %></div>
  </div>
</div>
<%= render 'form', tag: @tag %>
