<div class="container-fluid">
  <div class="row border-bottom mb-4">
    <div class="col-md-2 col-6"><h4>New Category</h4></div>
    <div class="col-md-2 col-6 offset-md-8 text-right"><%= link_to "All Categories", categories_path %></div>
  </div>
</div>
<%= render 'form', category: @category %>
